.image {
margin-left: auto;
margin-right: auto;
width: 30%;
padding-top: 200px;
}
li {
    float: left;
    list-style-type: none;
 }
 .nav{
    margin-top: 0px;
    width: 20%;
    height: 40px;
    margin-left: 200px;
    background-color: #f2f2f2;
    float: right;
    

 }
 .botton{

 }

 .search{
width: 480px;
border-block:0;
margin-left: 350px;
height: 20px;



 }
.footer {
    background-color : #f2f2f2;
    height: 30px;
    margin-top :300px;
    padding 20px;
    width: 100%;
    font-family:serif;
 }